<template>
    <v-app>
        <v-navigation-drawer app color="indigo darken-2" v-model="drawer">
            <v-list dense color="white">
                <v-list-item
                    v-for="item in items"
                    :key="item.title"
                    link
                    @click="$router.push({ path: item.route }).catch(err => {})"
                >
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <v-main>
            <v-container
                fluid
                class="pa-5 theme--light grey lighten-5"
                style="height: 100%;"
            >
                <v-btn
                    class="ma-2 d-xl-none d-lg-none d-xl-flex"
                    text
                    icon
                    @click.stop="drawer = !drawer"
                >
                    <v-icon>mdi-menu</v-icon>
                </v-btn>
                <router-view />
            </v-container>
        </v-main>
    </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import DiweClient from "./plugins/DiweClient/types";

@Component
export default class App extends Vue {
    private drawer = true;
    private items?: Array<object> = [
        { title: "Categorias", icon: "mdi-shape", route: "/categoria" },
        { title: "Funções", icon: "mdi-account-details", route: "/funcao" },
    ];

    async created() {
        this.$loopbackApi.start({
            definition:
                (process.env.VUE_APP_API_URL ??
                "//api." +
                    window.document.location.hostname +
                    ":" + (process.env.VUE_APP_API_PORT ?? "3001")) + "/openapi.json",
        });
    }
}
</script>
