<template>
    <v-card class="white rounded px-3 pt-3 pb-5 border border-white" outlined>
        <div class="flex justify-between">
            <p class="text-left font-weight-regular">
                {{ task.name }}
            </p>
        </div>
        <div class="flex mt-4 d-flex justify-end">
            <v-chip
                label
                class="ma-2"
                :color="badgeColor"
                text-color="white"
                small
            >
                {{ status }}
            </v-chip>
        </div>
    </v-card>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class CategoryCard extends Vue {
    @Prop({ required: true, type: Object, default: {} })
    readonly task?: Record<string, any>;

    get badgeColor(): string {
        return (this.task as any).active ? "green" : "red";
    }

    get status(): string {
        return (this.task as any).active ? "Ativo" : "Inativo";
    }
}
</script>
