<template>
    <v-container>
        <v-row class="text-center">
            <v-col cols="12">
                <v-row class="text-center">
                    <v-col cols="12">
                        <v-snackbar
                            v-model="notification"
                            :timeout="2000"
                            absolute
                            centered
                            color="success"
                            elevation="24"
                        >
                            {{ notificationMessage }}
                        </v-snackbar>
                        <v-alert
                            type="error"
                            :value="errorMessage ? true : false"
                            border="top"
                            transition="scale-transition"
                        >
                            {{ errorMessage }}
                        </v-alert>
                        <v-data-table
                            dense
                            item-key="id"
                            class="elevation-1"
                            loading-text="Carregando... Por favor aguarde."
                            :loading="loading"
                            :options.sync="options"
                            :server-items-length="totalItems"
                            :headers="headers"
                            :items="items"
                            :search="search"
                            no-data-text="Nenhum registro encontrado."
                            no-results-text="Nenhum registro encontrado relacionado a pesquisa."
                            sort-by="name"
                        >
                            <template v-slot:top>
                                <v-toolbar rounded flat>
                                    <v-toolbar-title
                                        >Categorias</v-toolbar-title
                                    >
                                    <v-divider
                                        class="mx-4"
                                        inset
                                        vertical
                                    ></v-divider>
                                    <v-spacer></v-spacer>
                                    <v-dialog
                                        v-model="dialog"
                                        persistent
                                        max-width="500px"
                                    >
                                        <template
                                            v-slot:activator="{
                                                on,
                                                attrs,
                                            }"
                                        >
                                            <v-btn
                                                color="primary"
                                                dark
                                                class="mb-2"
                                                v-bind="attrs"
                                                @click="createItem"
                                                :disabled="
                                                    dialog ||
                                                        dialogDelete ||
                                                        busy ||
                                                        loading
                                                "
                                            >
                                                Nova Categoria
                                            </v-btn>
                                            <v-spacer></v-spacer>
                                            <v-text-field
                                                v-model="search"
                                                append-icon="mdi-magnify"
                                                clearable
                                                label="Procurar"
                                                single-line
                                                hide-details
                                                :disabled="
                                                    dialog ||
                                                        dialogDelete ||
                                                        busy ||
                                                        loading
                                                "
                                            ></v-text-field>
                                        </template>
                                        <v-card>
                                            <validation-observer
                                                ref="observer"
                                                v-slot="{ invalid }"
                                            >
                                                <form @submit.prevent="save">
                                                    <v-card-title>
                                                        <span
                                                            class="headline"
                                                            >{{
                                                                formTitle
                                                            }}</span
                                                        >
                                                    </v-card-title>
                                                    <v-card-text>
                                                        <v-container>
                                                            <v-alert
                                                                type="error"
                                                                :value="
                                                                    dialogErrorMessage
                                                                        ? true
                                                                        : false
                                                                "
                                                                border="top"
                                                                transition="scale-transition"
                                                            >
                                                                {{
                                                                    dialogErrorMessage
                                                                }}
                                                            </v-alert>
                                                            <v-row>
                                                                <v-col
                                                                    cols="12"
                                                                >
                                                                    <validation-provider
                                                                        v-slot="{
                                                                            errors,
                                                                        }"
                                                                        name="Nome"
                                                                        rules="required|max:255"
                                                                    >
                                                                        <v-text-field
                                                                            v-model="
                                                                                itemEdit.name
                                                                            "
                                                                            label="Nome"
                                                                            :counter="
                                                                                255
                                                                            "
                                                                            :error-messages="
                                                                                errors
                                                                            "
                                                                            required
                                                                        ></v-text-field>
                                                                    </validation-provider>
                                                                </v-col>
                                                            </v-row>
                                                            <v-row>
                                                                <v-col
                                                                    cols="12"
                                                                >
                                                                    <v-checkbox
                                                                        v-model="
                                                                            itemEdit.active
                                                                        "
                                                                        label="Ativo"
                                                                    ></v-checkbox>
                                                                </v-col>
                                                            </v-row>
                                                        </v-container>
                                                    </v-card-text>
                                                    <v-card-actions>
                                                        <v-spacer></v-spacer>
                                                        <v-btn
                                                            color="blue darken-1"
                                                            text
                                                            @click="close"
                                                        >
                                                            Cancelar
                                                        </v-btn>
                                                        <v-btn
                                                            color="blue darken-1"
                                                            text
                                                            :disabled="
                                                                invalid ||
                                                                    busy ||
                                                                    loading ||
                                                                    dialogDelete
                                                            "
                                                            @click="save"
                                                        >
                                                            Salvar
                                                        </v-btn>
                                                    </v-card-actions>
                                                </form>
                                            </validation-observer>
                                        </v-card>
                                    </v-dialog>
                                    <v-dialog
                                        v-model="dialogDelete"
                                        persistent
                                        max-width="500px"
                                    >
                                        <v-card>
                                            <v-card-title class="headline"
                                                >Tem certeza que deseja remover
                                                essa categoria?
                                                <v-alert
                                                    type="error"
                                                    :value="
                                                        dialogErrorMessage
                                                            ? true
                                                            : false
                                                    "
                                                    border="top"
                                                    transition="scale-transition"
                                                >
                                                    {{ dialogErrorMessage }}
                                                </v-alert>
                                            </v-card-title>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="closeDelete"
                                                    >Não</v-btn
                                                >
                                                <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="deleteItemConfirm"
                                                    :disabled="
                                                        busy ||
                                                            loading ||
                                                            dialog
                                                    "
                                                    >Sim, remover</v-btn
                                                >
                                                <v-spacer></v-spacer>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </v-toolbar>
                            </template>
                            <template v-slot:item.active="{ item }">
                                <v-simple-checkbox
                                    v-model="item.active"
                                    disabled
                                ></v-simple-checkbox>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-tooltip left>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-icon
                                            small
                                            class="mr-2"
                                            @click="editItem(item)"
                                            v-bind="attrs"
                                            v-on="on"
                                            :disabled="
                                                busy ||
                                                    dialog ||
                                                    dialogDelete ||
                                                    loading
                                            "
                                        >
                                            mdi-pencil
                                        </v-icon>
                                    </template>
                                    <span>Editar categoria</span>
                                </v-tooltip>
                                <v-tooltip left>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-icon
                                            small
                                            @click="deleteItem(item)"
                                            v-bind="attrs"
                                            v-on="on"
                                            :disabled="
                                                busy ||
                                                    dialog ||
                                                    dialogDelete ||
                                                    loading
                                            "
                                        >
                                            mdi-delete
                                        </v-icon>
                                    </template>
                                    <span>Remover categoria</span>
                                </v-tooltip>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import { Component, Watch, Vue } from "vue-property-decorator";
import { required, max } from "vee-validate/dist/rules";
import {
    extend,
    localize,
    ValidationObserver,
    ValidationProvider,
    setInteractionMode,
} from "vee-validate";
/* eslint-disable @typescript-eslint/camelcase */
import pt_BR from "vee-validate/dist/locale/pt_BR.json";
import { Client as DiweAPIClient } from "../plugins/OpenAPIClient";
import debounce from "lodash-es/debounce";

localize("pt_BR", pt_BR);
setInteractionMode("aggressive");

extend("required", required);
extend("max", max);

function Debounce(delay: number) {
    return (target: any, prop: string) => {
        return {
            configurable: true,
            enumerable: false,
            value: debounce(target[prop], delay),
        };
    };
}

@Component({
    components: {
        ValidationProvider,
        ValidationObserver,
    },
})
export default class Category extends Vue {
    private busy = false;
    private loading = false;
    private dialog = false;
    private dialogDelete = false;
    private notification = false;
    private notificationMessage = "";
    private errorMessage = "";
    private dialogErrorMessage = "";
    private search = "";
    private options: object = {};
    private headers: Array<object> = [
        {
            text: "Nome",
            align: "start",
            sortable: true,
            value: "name",
        },
        {
            text: "Ativo",
            align: "center",
            sortable: false,
            value: "active",
        },
        {
            text: "Ações",
            align: "end",
            value: "actions",
            sortable: false,
        },
    ];
    private totalItems?: number = 0;
    private itemEditIndex = -1;
    private items: Array<object> = [];
    private itemEdit: object = {
        name: "",
        active: false,
    };
    private defaultItem: object = {
        name: "",
        active: false,
    };

    get formTitle(): string {
        return this.itemEditIndex === -1
            ? "Nova Categoria"
            : "Editar Categoria";
    }

    @Watch("search")
    @Debounce(200)
    searchChanged(newVal: boolean) {
        this.getItems();
    }
    @Watch("options", {
        deep: true,
    })
    @Debounce(200)
    optionsChanged(newVal: object) {
        this.getItems();
    }

    mounted() {
        this.getItems();
    }

    public getItems(): void {
        if (this.busy) {
            return;
        }
        this.loading = true;
        this.totalItems = 0;
        if (!this.$loopbackApi.apiClient || !this.$loopbackApi.initialized) {
            setTimeout(() => {
                this.getItems();
            }, 500);
        } else {
            this.busy = true;
            this.errorMessage = "";
            //OpenAPI backend poderia retornar dados como total de registros filtrados/nao filtrados e outras informações
            //assim como datatables funciona, não feito aqui por ser um teste.
            (this.$loopbackApi.apiClient as DiweAPIClient)
                ["CategoryController.count"]()
                .then(res => {
                    const response = res as any;
                    if (response && response.data && response.data.count > 0) {
                        this.totalItems = response.data.count;
                        const options = this.options as any;
                        let offset = 0;
                        const order: Array<string> = [];
                        const where: object = {};
                        if (this.search) {
                            (where as any).name = {
                                like: "%" + this.search + "%",
                            };
                        }
                        if (
                            this.totalItems &&
                            this.totalItems > 0 &&
                            options.page > 1
                        ) {
                            offset = (options.page - 1) * options.itemsPerPage;
                        }
                        if (options.sortBy) {
                            for (const idx in options.sortBy) {
                                if (options.sortDesc && options.sortDesc[idx]) {
                                    order.push(
                                        options.sortBy[idx].toString() + " DESC"
                                    );
                                } else {
                                    order.push(
                                        options.sortBy[idx].toString() + " ASC"
                                    );
                                }
                            }
                        }
                        const filter = {
                            order: order && order.length > 0 ? order : "",
                            where: where,
                            limit: options.itemsPerPage,
                            offset: offset,
                            skip: 0,
                        };
                        return (this.$loopbackApi
                            .apiClient as DiweAPIClient).paths[
                            "/categories"
                        ].get({
                            filter: JSON.stringify(filter),
                        });
                    }
                })
                .then(res => {
                    const response = res as any;
                    if (response && response.data) {
                        this.items = response.data as Array<object>;
                    }
                })
                .catch(err => {
                    this.errorMessage = "Erro ao carregar os registros.";
                    this.totalItems = 0;
                    this.items = [];
                })
                .finally(() => {
                    this.loading = false;
                    this.busy = false;
                });
        }
    }

    public createItem(): void {
        if (this.busy || this.dialog || this.dialogDelete) {
            return;
        }
        this.errorMessage = "";
        this.dialogErrorMessage = "";
        this.notificationMessage = "";
        this.notification = false;
        this.itemEditIndex = -1;
        this.itemEdit = Object.assign({}, this.defaultItem);
        this.dialog = true;
        this.$nextTick(() => {
            (this.$refs.observer as InstanceType<
                typeof ValidationObserver
            >).reset();
        });
    }

    public editItem(item: object): void {
        if (this.busy || this.dialog || this.dialogDelete) {
            return;
        }
        this.errorMessage = "";
        this.dialogErrorMessage = "";
        this.notificationMessage = "";
        this.notification = false;
        this.itemEditIndex = (item as any).id;
        this.itemEdit = Object.assign({}, item);
        this.dialog = true;
        this.$nextTick(() => {
            (this.$refs.observer as InstanceType<
                typeof ValidationObserver
            >).reset();
        });
    }

    public deleteItem(item: object): void {
        if (this.busy || this.dialog || this.dialogDelete) {
            return;
        }
        this.errorMessage = "";
        this.dialogErrorMessage = "";
        this.notificationMessage = "";
        this.notification = false;
        this.itemEditIndex = (item as any).id;
        this.itemEdit = Object.assign({}, this.defaultItem);
        this.dialogDelete = true;
    }

    public deleteItemConfirm(): void {
        if (
            this.busy ||
            this.dialog ||
            !this.dialogDelete ||
            !(this.itemEditIndex > 0)
        ) {
            return;
        }
        this.errorMessage = "";
        this.dialogErrorMessage = "";
        this.notificationMessage = "";
        this.notification = false;
        this.busy = true;
        (this.$loopbackApi.apiClient as DiweAPIClient)
            ["CategoryController.deleteById"](this.itemEditIndex)
            .then(res => {
                this.notificationMessage = "Categoria removida.";
                this.notification = true;
                this.closeDelete();
            })
            .catch(err => {
                if (err) {
                    const error = (err as any).response;
                    if (
                        error &&
                        (error as any).data &&
                        ((error as any).data as any).error
                    ) {
                        if (
                            ((error as any).data as any).error &&
                            (((error as any).data as any).error as any).code
                        ) {
                            this.dialogErrorMessage = (((error as any)
                                .data as any).error as any).message
                                ? (((error as any).data as any)
                                      .error as any).message.toString()
                                : (((error as any).data as any)
                                      .error as any).code.toString();
                        } else {
                            this.dialogErrorMessage = "Erro.";
                        }
                    } else {
                        this.dialogErrorMessage = "Erro.";
                    }
                } else {
                    this.dialogErrorMessage = "Erro.";
                }
            })
            .finally(() => {
                this.busy = false;
                if (!this.dialogDelete && !this.dialogErrorMessage) {
                    this.$nextTick(() => {
                        this.getItems();
                    });
                }
            });
    }

    public close(): void {
        this.dialog = false;
        this.$nextTick(() => {
            this.itemEdit = Object.assign({}, this.defaultItem);
            this.itemEditIndex = -1;
            (this.$refs.observer as InstanceType<
                typeof ValidationObserver
            >).reset();
        });
    }

    public closeDelete(): void {
        this.dialogDelete = false;
        this.$nextTick(() => {
            this.itemEdit = Object.assign({}, this.defaultItem);
            this.itemEditIndex = -1;
        });
    }

    public save(): void {
        if (this.busy || !this.dialog || this.dialogDelete) {
            return;
        }
        this.busy = true;
        this.notification = false;
        this.notificationMessage = "";
        this.errorMessage = "";
        this.dialogErrorMessage = "";
        (this.$refs.observer as InstanceType<typeof ValidationObserver>)
            .validate()
            .then(res => {
                if (this.itemEditIndex > 0) {
                    return (this.$loopbackApi.apiClient as DiweAPIClient)[
                        "CategoryController.updateById"
                    ](this.itemEditIndex, this.itemEdit as any);
                } else {
                    return (this.$loopbackApi.apiClient as DiweAPIClient)[
                        "CategoryController.create"
                    ](undefined, this.itemEdit as any);
                }
            })
            .then(res => {
                if (this.itemEditIndex > 0) {
                    this.notificationMessage = "Categoria modificada.";
                } else {
                    this.notificationMessage = "Nova categoria criada.";
                }
                this.notification = true;
                this.close();
            })
            .catch(err => {
                if (err) {
                    const error = (err as any).response;
                    if (
                        error &&
                        (error as any).data &&
                        ((error as any).data as any).error
                    ) {
                        if (
                            ((error as any).data as any).error &&
                            (((error as any).data as any).error as any).code
                        ) {
                            if (
                                (((error as any).data as any)
                                    .error as any).code.toString() ==
                                "ER_DUP_ENTRY"
                            ) {
                                this.dialogErrorMessage =
                                    "Categoria já existente.";
                            } else {
                                this.dialogErrorMessage = (((error as any)
                                    .data as any).error as any).message
                                    ? (((error as any).data as any)
                                          .error as any).message.toString()
                                    : (((error as any).data as any)
                                          .error as any).code.toString();
                            }
                        } else {
                            this.dialogErrorMessage = "Erro.";
                        }
                    } else {
                        this.dialogErrorMessage = "Erro.";
                    }
                } else {
                    this.dialogErrorMessage = "Erro.";
                }
            })
            .finally(() => {
                this.busy = false;
                if (
                    !this.dialogDelete &&
                    !this.dialog &&
                    !this.dialogErrorMessage
                ) {
                    this.$nextTick(() => {
                        this.getItems();
                    });
                }
            });
    }
}
</script>
