<template>
    <v-container>
        <v-row class="text-center">
            <v-col cols="12">
                <v-snackbar
                    v-model="notification"
                    :timeout="2000"
                    absolute
                    centered
                    color="success"
                    elevation="24"
                >
                    {{ notificationMessage }}
                </v-snackbar>
                <v-alert
                    type="error"
                    :value="errorMessage ? true : false"
                    border="top"
                    transition="scale-transition"
                >
                    {{ errorMessage }}
                </v-alert>
                <v-card :loading="loading" :disabled="busy || loading">
                    <form @submit.prevent="save">
                        <v-card-title>
                            <span class="headline"
                                >Editar categorias da função</span
                            >
                        </v-card-title>
                        <v-card-text>
                            <v-container fluid>
                                <v-row dense>
                                    <v-col>
                                        <v-card class="pa-2" outlined>
                                            <v-card-title>
                                                <span class="text-h6"
                                                    >Categorias incluídas na
                                                    função</span
                                                >
                                            </v-card-title>
                                            <div
                                                class="grey lighten-5 rounded-lg px-3 py-3 rounded"
                                            >
                                                <draggable
                                                    :list="roleCategories"
                                                    :animation="200"
                                                    ghost-class="ghost-card"
                                                    group="tasks"
                                                >
                                                    <category-card
                                                        v-for="task in roleCategories"
                                                        :key="task.id"
                                                        :task="task"
                                                        class="mt-3 categoryCard"
                                                    ></category-card>
                                                </draggable>
                                            </div>
                                        </v-card>
                                    </v-col>
                                    <v-col>
                                        <v-card class="pa-2" outlined tile>
                                            <v-card-title>
                                                <span class="text-h6"
                                                    >Categorias
                                                    disponíveis</span
                                                >
                                            </v-card-title>
                                            <div
                                                class="grey lighten-5 rounded-lg px-3 py-3 rounded"
                                            >
                                                <draggable
                                                    :list="categories"
                                                    :animation="200"
                                                    ghost-class="ghost-card"
                                                    group="tasks"
                                                >
                                                    <category-card
                                                        v-for="task in categories"
                                                        :key="task.id"
                                                        :task="task"
                                                        class="mt-3 categoryCard"
                                                    ></category-card>
                                                </draggable>
                                            </div>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                color="blue darken-1"
                                text
                                @click="cancel"
                                :disabled="busy || loading"
                            >
                                Cancelar
                            </v-btn>
                            <v-btn
                                color="blue darken-1"
                                text
                                :disabled="busy || loading"
                                @click="save"
                            >
                                Salvar
                            </v-btn>
                        </v-card-actions>
                    </form>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import { Component, Watch, Vue } from "vue-property-decorator";
import draggable from "vuedraggable";
import CategoryCard from "../components/CategoryCard.vue";
import { Client as DiweAPIClient } from "../plugins/OpenAPIClient";

@Component({
    components: {
        draggable,
        CategoryCard,
    },
})
export default class RoleCategory extends Vue {
    private busy = false;
    private loading = false;
    private notification = false;
    private notificationMessage = "";
    private errorMessage = "";
    private categories: Array<object> = [];
    private roleCategories: Array<object> = [];

    mounted() {
        this.getItems();
    }

    public getItems(): void {
        if (this.busy) {
            return;
        }
        if (!this.$route || !this.$route.params || !this.$route.params.id) {
            this.errorMessage = "ID da função não localizado.";
            return;
        }
        this.loading = true;
        this.categories = [];
        this.roleCategories = [];
        if (!this.$loopbackApi.apiClient || !this.$loopbackApi.initialized) {
            setTimeout(() => {
                this.getItems();
            }, 500);
        } else {
            this.busy = true;
            this.errorMessage = "";
            (this.$loopbackApi.apiClient as DiweAPIClient).paths[
                "/roles/{id}/categories"
            ]
                .get(this.$route.params.id)
                .then(res => {
                    const response = res as any;
                    if (response && response.data) {
                        this.roleCategories = response.data as Array<object>;
                    }
                    return (this.$loopbackApi.apiClient as DiweAPIClient).paths[
                        "/categories"
                    ].get();
                })
                .then(res => {
                    const response = res as any;
                    if (response && response.data) {
                        if (
                            this.roleCategories &&
                            this.roleCategories.length > 0
                        ) {
                            const categories = response.data as Array<object>;
                            for (const idx in categories) {
                                if (
                                    this.roleCategories.some(
                                        e =>
                                            (e as any).id ==
                                            (categories[idx] as any).id
                                    )
                                ) {
                                    continue;
                                }
                                this.categories.push(categories[idx]);
                            }
                        } else {
                            this.categories = response.data as Array<object>;
                        }
                    }
                })
                .catch(err => {
                    this.errorMessage = "Erro ao carregar os registros.";
                })
                .finally(() => {
                    this.loading = false;
                    this.busy = false;
                });
        }
    }

    public cancel(): void {
        this.$router.push({ path: "/funcao" });
    }

    public save(): void {
        if (this.busy || this.loading) {
            return;
        }
        this.busy = true;
        this.notification = false;
        this.notificationMessage = "";
        this.errorMessage = "";
        (this.$loopbackApi.apiClient as DiweAPIClient).paths[
            "/roles/{id}/categories"
        ]
            .post(
                this.$route.params.id,
                this.roleCategories && this.roleCategories.length > 0
                    ? this.roleCategories.map(cat => {
                          return { categoryId: (cat as any).id };
                      })
                    : []
            )
            .then(res => {
                this.notificationMessage = "Categorias da função modificada.";
                this.notification = true;
                setTimeout(() => {
                    this.cancel();
                }, 3000);
            })
            .catch(err => {
                if (err) {
                    const error = (err as any).response;
                    if (
                        error &&
                        (error as any).data &&
                        ((error as any).data as any).error
                    ) {
                        if (
                            ((error as any).data as any).error &&
                            (((error as any).data as any).error as any).code
                        ) {
                            this.errorMessage = (((error as any).data as any)
                                .error as any).message
                                ? (((error as any).data as any)
                                      .error as any).message.toString()
                                : (((error as any).data as any)
                                      .error as any).code.toString();
                        } else {
                            this.errorMessage = "Erro.";
                        }
                    } else {
                        this.errorMessage = "Erro.";
                    }
                } else {
                    this.errorMessage = "Erro.";
                }
                this.busy = false;
            })
    }
}
</script>
<style scoped>
.categoryCard {
    cursor: move;
}
.ghost-card {
    opacity: 0.5;
    background: #f7fafc;
    border: 1px solid #4299e1;
}
</style>
